<div class="cover mb-4 d-flex align-items-center justify-content-center cover">
  <div class="text-center text-primary p-4" >
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>


<div class="container py-5">


  <div class="d-flex align-items-center justify-content-between mb-3">
    <form class="flex my-2 my-lg-0">
          <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <h3 class="mb-0 text-primary">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-outline-primary font-weight-bold border" %>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <%= link_to show_lists_path(list), class:"text-decoration-none text-white text-capitalize " do %>
          <%= list.name %>
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
